<!DOCTYPE html>
<html>

<head>
  <title>

  </title>
  <link rel="stylesheet" href="/stylelogin.css">
</head>
<body>
    <div class= "gradient">
  
    <div class="container">
    <form>
        <form action="#" method="post">
            <div class="form-group">
              <p class="Verification">Verification</p>

              <p class="space">Enter the six digit code that was send to <br><b class="color">divinako@gmail.com</b> to continue </p>

              <div class="otp-boxes">
                <input type="text" id="otp1" name="otp1" maxlength="1" required>
                <input type="text" id="otp2" name="otp2" maxlength="1" required>
                <input type="text" id="otp3" name="otp3" maxlength="1" required>
                <input type="text" id="otp4" name="otp4" maxlength="1" required>
                <input type="text" id="otp4" name="otp4" maxlength="1" required>
                <input type="text" id="otp4" name="otp4" maxlength="1" required>
              </div>
            </div>
            <div class="submit">
              <input type="submitv" value="Continue"></form>
            </div>
          </form>
    </body>
    </html>
    